
* {
  border: dotted black 1px;
}

 body {
  align-items: center;
  text-align: center;
  background-color: darkgrey;
 }

 /* card css start */

 .card {
  background-color: darkgreen;
  border-width: 2px;
 }

 .addC {
  background-color: darkgreen;
 }

 .colorC {
  color: lightgreen;
 }

 .borderBC {
  border-color: black;
 }

 /* card css end */
