<%- include('../partials/header.ejs', { user }) %>

<h3>Login to your account</h3>

<% if (message) { %>
    <p><%= message %></p>
<% } %>

<form class="form" action="/users/login" method="POST">
    <div class="field">
      <label for="email">Email</label>
      <input autocomplete="off" type="email" id="email" placeholder="Email" name="email" class="input">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input autocomplete="off" type="password" id="password" placeholder="Password" name="password" class="input">
    </div>
    <div class="field">
      <button type="submit" class="button">Log in</button>
    </div>
  </form>



<%- include('../partials/footer.ejs') %>

