<%- include('../partials/header.ejs', { user }) %>

<h3>Sign up for an account</h3>

<form class="form" action="/users" method="POST">
    <div class="field">
      <label for="email">Email</label>
      <input autocomplete="off" type="email" id="email" placeholder="Email" name="email" class="input">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input autocomplete="off" type="password" id="password" placeholder="Password" name="password" class="input">
    </div>
    <div class="field">
      <button type="submit" class="button">Sign Up</button>
    </div>
  </form>


<%- include('../partials/footer.ejs') %>

